<p id="notice"><%= notice %></p>

<h1 class='title'><%= @article.title %></h1>

<p class='body'>
  <%= @article.body %>
</p>

<p>
  <% if @article.users.uniq.count < 2 %>
    <strong>Contributor:</strong>
  <% else %>
    <strong>Contributors:</strong>
  <% end %>
  <ul>
    <% @article.users.uniq.each do |user| %>
      <li><%= link_to user.email, user_path(user) %></li>
    <%end %>
  </ul>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
